body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* header styles */
#navbar .logo {
    width: 15%;
    margin: 0;
    padding: 0;
}

.logo a {
    padding: 0 !important;
    margin: 0 !important;
}

#navbar {
    background-color: #dcedf7;
    height: 115px;
    padding: 0px 50px 0px;
}

#navbar .utility a {
    text-decoration: none;
    color: #ac57a1;
    padding: 25px 25px 25px 25px;
}

#navbar li:hover {
    background-color: rgba(172, 87, 161, 0.3);
}

#navbar a:hover {
    color: rgb(0, 0, 0);
}

#navbar .logo,
.utility {
    display: inline-block;
    vertical-align: middle;
}

#navbar ul {
    width: 84%;
    text-align: right;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    display: inline-block;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    text-align: center;
    border-radius: 40px;
}